<div class="add-space-container">
  <%= link_to 'Add a New Space', new_space_path, class: "add-space-button" %>
</div>

<div class="spaces-container">
  <% @spaces.each do |space| %>
    <div class="space-card">
      <% if space.image.attached? %>
        <img class="space-image" src="<%= url_for(space.image) %>" alt="Image of <%= space.name %>">
      <% end %>
      <div class="space-content">
        <div class="space-header">
          <div class="spaces2">
            <%= link_to space.name, space_path(space), class: "space-button" %>
            <p class="space-address"><%= space.address %></p>
          </div>
          <div class="space-rating">
            <% if space.reviews.any? %>
              <% ratings_array = space.reviews.pluck(:rating) %>
              <% average = ratings_array.sum.to_f / ratings_array.size %>
              <% full_stars = average.floor %>
              <% half_star = (average - full_stars >= 0.5) ? 1 : 0 %>
              <% empty_stars = 5 - full_stars - half_star %>

              <% full_stars.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
              <% if half_star == 1 %>
                <i class="fa-solid fa-star-half-stroke"></i>
              <% end %>
              <% empty_stars.times do %>
                <i class="fa-solid fa-star" style="color: lightgray;"></i>
              <% end %>
            <% else %>
              <%= "No ratings yet" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
