<div class="spaces-container">
  <% @spaces.each do |space| %>
    <div class="space-card">
      <% if space.image.attached? %>
        <img class="space-image" src="https://source.unsplash.com/random/?camping,<%= ('a'...'z').to_a.sample %>" alt="Image of <%= space.name %>">
      <% end %>
      <div class="space-content">
        <div class="space-header">
          <%= link_to space.name, space_path(space), class: "space-button" %>
          <p class="space-address"><%= space.address %></p> <!-- Address added here -->
          <div class="space-rating">
            rating:
            <% ratings_array = space.reviews.pluck(:rating)  %>
            <% sum = ratings_array.reduce(&:+) %>
            <% average = sum.to_f / space.reviews.count %>
            <%= average.round(2) unless average.nan? %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
