<h1>Add a New Space</h1>

<%= form_with model: @space, local: true do |form| %>
  <% if @space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% @space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :space_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :space_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :space_price, step: 0.01, min: 0 %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :space_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
