
<div class="form-signup">
  <h1>Add a New Space</h1>
  <%= form_with model: @space, local: true, html: { class: "form-inputs" } do |form| %>
    <% if @space.errors.any? %>
      <div id="error_explanation">
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :space_name, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :space_description, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :price_per_night %>
      <%= form.number_field :price, id: :space_price, step: 0.01, min: 0, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image, id: :space_image, class: "form-control" %>
    </div>

    <div class="form-actions">
      <%= form.submit "Add Space", class: "btn-submit" %>
    </div>
  <% end %>
</div>
