<nav class="nav">
  <%= image_tag "logo.png", class: "logo" %>
  <div class="nav-links">
    <%= link_to "Home",new_user_session_path, class: "nav-link"  %>

    <%= link_to 'Browse', spaces_path, class: 'nav-link' %>
    <%= link_to "Bookings",new_user_session_path, class: "nav-link"  %>
    <% if user_signed_in? %>
        <%= link_to "Bookmarks",bookmarks_path, class: "nav-link"  %>
    <% end %>

  </div>
  <div class="nav-btns">
    <% if user_signed_in? %>

      <div class="loged-in-container">
        <div class="nav-avatar">
          <%= link_to user_path(current_user) do %>
            <img src=<%= rails_blob_url(current_user.picture) %> alt="<%= current_user.first_name %>" class="nav-avatar-img">
          <% end %>
        </div>
        <%= link_to "Logout",destroy_user_session_path, data: {turbo_method: :delete} , class: "btn-login"  %>
      </div>


    <% else %>


        <%= link_to "Sign up",new_user_registration_path, class: "btn-sign-up"  %>
        <%= link_to "Login",new_user_session_path, class: "btn-login"  %>


    <% end %>
  </div>
</nav>
