<div id="homepage">
<video autoplay muted loop id="video-banner">
  <source src="<%= asset_url("bannervideo.mp4") %>" type="video/mp4">
</video>

<div class="video-text">
  <h1>SpaceIt</h1>
  <p>We are the leaders in renting spaces in nature!</p>
  <%= form_with url: spaces_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search space"
      %>
    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>


</div>


  <main class="container">
    <div class="home-card">
      <%= image_tag "norway.jpeg" %>
      <div class="home-card-info">
        <p class="text-center"><strong>Enjoy the views over the Nordic fjords in Bergen - Norway</strong></p>
        <p>Spectacular Scenery: Enjoy breathtaking views of majestic fjords surrounded by towering cliffs and lush greenery. The unique geography of Norway's fjords provides a stunning backdrop for your camping experience, creating an immersive connection with nature.<p>
        <a href="url">Discover!</a>
      </div>
    </div>

    <div class="home-card">
      <div class="home-card-info">
        <p class="text-center"><strong>Enjoy the magic star sky in Gran Canyon</strong></p>
        <p>Stargazing Paradise: With vast stretches of open land and minimal light pollution in many areas, Nevada provides an exceptional opportunity for stargazing. Campers can enjoy clear night skies, spot constellations, and even catch a glimpse of the Milky Way, creating a magical and awe-inspiring experience.</p>
        <a href="url">Discover!</a>
      </div>
      <%= image_tag "image12.jpg" %>
    </div>
  </main>
</div>
