<section class="section-reviews">

  <div class="container">
    <div class="add-review">
      <%= simple_form_for [@space ,@review] do |f| %>
        <%= f.label :comment, "Please, leave your review..." , class: "review-label"%><br>
        <%= f.text_field :comment, class: "review-text-input"%><br>
        <%= f.input :rating ,collection: (0..5)%>
        <%= f.button :submit, class: "review-button" %>
      <% end %>
    </div>
    
    <div class="reviews">
      <% @reviews.each do |review| %>
        <div class="review">
          <div class="review-left">
            <div class="reviewer-img-container">
              <img class="reviewer-img" src="https://source.unsplash.com/random/?person,<%= ('a'...'z').to_a.sample %>">
            </div>
            <div class="reviewer-content-container">
              <p class="reviewer-name"><%= review.user.first_name %></p>
              <p class="review-content"><%= review.comment %></p>
            </div>
          </div>
          <div class="review-right">
            <%= review.created_at.strftime("%d %b %y, %H %P") %>
            <br>
            <% review.rating.times do %>
              <p class="stars">★</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</section>
